
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Sandbox.Menu;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@attribute [StyleSheet]

@namespace PizzaClicker

<root class="leaderboard @(IsOpen ? "open" : "") ">
    <div class="open-close" onclick=@ToggleLeaderboard>
        <i class="open @(IsOpen ? "hide" : "") ">leaderboard</i>
        <i class="close @(IsOpen ? "" : "hide") ">minimize</i>
    </div>
    <h1>Players</h1>
    <div class="leaderboard-header">
        <div class="name">Name</div>
        <div class="pizzas">Pizzas</div>
        <div class="pizzas-per-second">Pizzas/Sec</div>
    </div>
    <div class="leaderboard-entries">
        @foreach(var player in Players.OrderByDescending(p => p.Pizzas))
        {
            <div class="leaderboard-entry">
                <div class="name">@player.Member.Name</div>
                <div class="pizzas">@player.Pizzas.ToStringAbbreviated(2, false)</div>
                <div class="pizzas-per-second">@player.GetPizzasPerSecond()</div>
            </div>
        }
    </div>
</root>

@code
{
    public List<Player> Players { get; set; }
    public bool IsOpen { get; set; } = true;

    void ToggleLeaderboard()
    {
        IsOpen = !IsOpen;
    }

    public override void Tick()
    {
        if(Input.Pressed("score"))
        {
            ToggleLeaderboard();
        }
    }

    protected override int BuildHash()
    {
        int hash = 0;
        foreach (var player in Players)
        {
            hash = HashCode.Combine(hash, player.Pizzas);
        }
        return HashCode.Combine(hash, IsOpen);
    }

}